In [1]:
print('Hello')

Hello

In [2]:
print('3 2 1 Go!')

3 2 1 Go!

In [3]:
print('*****')
print('*   *')
print('*****')
print('*   *')
print('*****')

*****
*   *
*****
*   *
*****

In [4]:
# Including end=' ' keeps output on same line
print('Hello there.', end=' ')
print('My name is...', end=' ')
print('Carl?')

Hello there. My name is... Carl?

In [5]:
wage = 20

print('Wage is', end=' ')
print(wage)  # print variable's value
print('Goodbye.')

Wage is 20
Goodbye.

In [7]:
print('1\n2\n3')

1
2
3

In [8]:
print('123')
print()
print('abc')

123

abc

In [9]:
print('Enter name of best friend:', end=' ')
best_friend = input()
print('My best friend is', best_friend)

Enter name of best friend: miak
My best friend is miak

In [10]:
my_string = '123'
my_int = int('123')

print(my_string)
print(my_int)

123
123

In [12]:
print('Enter wage:', end=' ')
wage = int(input())

new_wage = wage + 10
print('New wage:', new_wage)

Enter wage: 34
New wage: 44

In [13]:
hours = 40
weeks = 50
hourly_wage = int(input('Enter hourly wage: '))

print('Salary is', hourly_wage * hours * weeks)

Enter hourly wage: 12
Salary is 24000

In [14]:
dog_years = int(input('Enter age of dog (in years): '))
print()

human_years = 7 * dog_years

print(dog_years, 'dog years is about', end=' ')
print (human_years, 'human years.')

Enter age of dog (in years): 44

44 dog years is about 308 human years.

In [15]:
num1 = int(input())
num2 = int(input())
print(num1 + num2)

2
3
5

In [16]:
user_num_1 = int(input())
user_num_2 = int(input())
user_num_3 = int(input())

print(user_num_1 * user_num_2 * user_num_3)

2
3
5
30

In [17]:
print('This dinner is satisfying.')

This dinner is satisfying.

In [18]:
print('Current salary is', end=' ')
print(45000) 

print('Enter new salary:', end=' ')
new_sal = int(input())

print(new_sal) print(user_num)

SyntaxError: invalid syntax (<ipython-input-18-5380677a5dcf>, line 7)

In [19]:
print('Salary is', end=' ')
print(20 * 40 * 50)

print('Enter integer: ', end=' ')
user_num = int(input())
print(user_num)

Salary is 40000
Enter integer:  ff

ValueError: invalid literal for int() with base 10: 'ff'

In [ ]:
current_salary = int(input('Enter current salary:'))

raise_percentage = 5  # Logic error gives a 500% raise instead of 5%.
new_salary = current_salary + (current_salary * raise_percentage)
print('New salary:', new_salary)

In [ ]:
num_beans = 500
num_jars = 3
total_beans = 0

print(num_beans, 'beans in', end=' ')
print(num_jars, 'jars yields', end=' ')
total_beans = num_beans * num_jars
print('total_beans', 'total')

In [ ]:
print('Predictions are hard.')
print('Especially about the future.')
user_num = 5
print('user_num is:'', user_num)